#container{
    /*position:relative;*/
}
#content .table {
    width: 400px;
    height: 300px;
    background-color: #cccccc;
    margin: 150px auto;
}
#content .table div{
    width:400px;
    height:50px;
    /*background-color: red;*/
    margin-top:25px;
}
#content .table span{
    /*text-align:center;*/
    width:120px;
    height:50px;
    float:left;
    text-align:right;
    line-height:50px;
}
#content .table input{
    width:180px;
    height:30px;
    float:left;
    margin:10px 50px;
    /*display:block;*/
    /*line-height:20px;*/
}
#content .table a{
    float:left;
    width:120px;
    height:50px;
    line-height:50px;
    text-align: right;
}
#submit{
    width:100px;

}
#user b{
    float:left;
    width:400px;
    height:20px;


    color:red;
    font-size:12px;
    text-align: right;
}
#content img{
    width:100px;
    height:20px;
    float:left;
    /*background-color: #cccccc;*/
}
#code
{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:2px;
    color:blue;
}
#verify{
    display:none;
}
