#container{
    /*position:relative;*/
}
#content .table{


}
#content .table table{
        margin:200px auto;
        border-collapse:collapse;
        border:1px solid black;
        text-align: center;
    background-color: #cccccc;
    /*border-collapse:collapse;*/
}
#content .table table td {
    width:150px;
    /*height:20px;*/
    /*border:1px solid black;*/

}
#content .table table td .name,.password{
    /*display:none;*/
}
#content .table table .un,.ps,.fpw,.commit{
    text-align: right;
}
/*#content .table table tr{*/
    /*height:40px;*/
/*}*/

/*#content .table table td .bt{*/
    /*width:100px;*/
    /*float:right;*/
    /*margin-right:12px;*/

/*}*/
/*#content .table table td a{*/
    /**/
/*}*/

#content .table table td input{

    height:25px;
    margin:10px;

}
#content .table table .commit input{
    margin-right:12px;
    width:100px;
    height:40px;
    float:right;
}